<!doctype html>
<html lang="en" class="no-js">
<head>
    {% block head %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/img/logo.jpg">
    <meta name="description" content={% block description%}{% endblock %}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>

<body>
    <div class="container">
    <header>
        <div><p id="navp"><a href="/juegos"><img src="/static/img/logo.jpg" alt="Logo"><a>Catálogo de juegos</p></div>
        <nav>
            <ul>
                <li><a id="menu" href="/">Inicio</a>
                <li><a id="menu" href="/juegos">Buscar</a>
            </ul>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
    <section id="pageContent">
        <main role="main">
            <article>
                {% block article %}
                {% endblock %}
            </article>
        </main>
        <aside>
            <h2>Juegos populares:</h2>
            <div>Pac-Man<p><a href="/juegos/Pac-Man"><img src="/static/img/Pac-Man.jpg"></img></a></p></div>
            <div>Tetris<p><a href="/juegos/Tetris"><img src="/static/img/tetris.jpg"></img></a></p></div>
            <div>Cuphead<p><a href="/juegos/Cuphead"><img src="/static/img/Cuphead.jpg"></img></a></p></div>
        </aside>
    </section>
    <footer>
        <p>¡¡Página de prueba!! - <a href="https://html5-templates.com/preview/html5-page-layout.html">Template original</a> </p>
    </footer>
    </div>
</body>

</html>
