{% extends './base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block article %}
<h1>¡Bienvenido al universo de los videojuegos!</h1>
<p>Si buscas sumergirte en mundos increíbles, enfrentarte a desafíos emocionantes y vivir aventuras sin límites, has llegado al lugar correcto. Explora nuestro extenso catálogo donde encontrarás desde los clásicos que definieron generaciones hasta los últimos lanzamientos que están revolucionando la industria.</p>
<p>Navega por nuestra colección de manera intuitiva, filtra por género, plataforma o calificación para encontrar exactamente lo que buscas. Ya seas fan de los RPGs intensos, los frenéticos shooters, las intrigantes aventuras gráficas o los desafiantes puzzles, tenemos algo especial para ti.</p>
<p>Además, te ofrecemos reseñas detalladas, valoraciones de usuarios y trailers de los juegos para que puedas obtener una vista previa de la acción antes de hacer tu elección. Únete a nuestra comunidad y disfruta de la mejor experiencia de compra en videojuegos. ¡Tu próxima gran aventura comienza aquí!</p>
{% endblock %}


